<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799419299310-3fh4kahubmbi7du24v1kgkca4t504jp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799419299310-3fh4kahubmbi7du24v1kgkca4t504jp9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>799419299310-rmlkc3itjitc8jst2ppb4c21hjc01t34.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVwrA2mCgS1OwJr7Qxkd5Zqj5R51nh_9A</string>
	<key>GCM_SENDER_ID</key>
	<string>799419299310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.multiplatformDonationApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>donation-app-76afd</string>
	<key>STORAGE_BUCKET</key>
	<string>donation-app-76afd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799419299310:ios:67d624058b26b5ece40aff</string>
</dict>
</plist>